<!--
Generated template for the AbilityAnalysisPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="primary">
<ion-title align="center">
ability-analysis
</ion-title>
</ion-navbar>
</ion-header>
<ion-content padding="">
<echarts-ng2 #echarts="" [option]="option">
</echarts-ng2>
<div>
	<div class="row header">
		<div class="col" *ngFor="let element of tableData.header">
			{{element}}
		</div>
	</div>
	<div class="row" *ngFor="let row of tableData.detail">
		<div class="col">{{row.name}}</div>
		<div class="col">{{row.student}}</div>
		<div class="col">{{row.clazz}}</div>
		<div class="col">{{row.all}}</div>
		<div class="col">{{row.max}}</div>
	</div>
</div>
</ion-content>