<ion-header>
  <ion-navbar color="primary">
    <ion-title color="primary">
      <ion-grid color="primary">
        <ion-row justify-content-center color="primary">
          <ion-col style="background-color:#488aff;border: 0px" align-self-center col-sm>
            <div color="primary"> {{examine.examineName}}</div>
          </ion-col>
          <ion-col style="background-color:#488aff;border: 0px" align-self-center col-sm>
            <div item-right>10/20</div>
          </ion-col>
          <ion-col style="background-color:#488aff ;border: 0px" align-self-center col-sm>
            <button ion-button icon-only (click)="presentPopover($event)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager>
    <!-- 选择题 -->
    <ion-slide style='align-items: flex-start;display: flex;justify-content: left;' *ngFor="let choiceQuestion of choiceList; let myIndex = index">

      <mdb-you-katex [latex]="choiceQuestion.question"></mdb-you-katex>
      <div *ngFor="let questionImg of choiceQuestion.imgList; let myIndex = index">
        <mdb-you-img [src]="questionImg"></mdb-you-img>
      </div>
      <mdb-you-choice-optionlist style='text-align:left;' [choiceOptionList]="choiceQuestion.choiceOptionList"
        (onOptionSelected)="optionSelected($event)"></mdb-you-choice-optionlist>
    </ion-slide>

    <!-- 填空题 -->
    <ion-slide style='align-items: flex-start;display: flex;justify-content: left;' *ngFor="let fillblankQuestion of fillblankList; let idxFillblank = index">
      <div style='text-align:left;' *ngFor="let questionSection of fillblankQuestion.questionSections; let idxSection = index"
        class="d-inline-flex">
        <mdb-you-katex [latex]="questionSection"></mdb-you-katex>
        <div *ngIf="idxSection < fillblankQuestion.blankCount">
          <input type="text" [value]="fillblankQuestion.blankList[idxSection].yourAnswer" [disabled]="fillblankQuestion.blankList[idxSection].readOnlyMode">
        </div>
      </div>

    </ion-slide>

    <!-- 问答题 -->
    <ion-slide style='align-items: flex-start;display: flex;justify-content: left;' *ngFor="let shortAnswerQuestion of shortAnswerQuestionList; let idxShortAnswer = index">
      <!-- 问答题题干 -->
      <mdb-you-katex style='text-align:left;' [latex]="shortAnswerQuestion.shortAnswerContent"></mdb-you-katex>
      <!-- 问答题题干图片 -->
      <mdb-you-img [imgList]="shortAnswerQuestion.images"></mdb-you-img>

      <!-- 问答题小题 -->
      <div style='text-align:left;' *ngFor="let subQuestionSection of shortAnswerQuestion.subQuestionList; let idxSubQuestion = index">
        <mdb-you-katex style='text-align:left;' [latex]="subQuestionSection.shortAnswerContent"></mdb-you-katex>
        <mdb-you-img [imgList]="subQuestionSection.images"></mdb-you-img>
      </div>
    </ion-slide>

  </ion-slides>
</ion-content>