<ion-slide  style='text-align:left;'    *ngFor="let shortAnswerQuestion of shortAnswerQuestionList; let idxShortAnswer = index">
  <!-- 问答题题干 -->
  <mdb-you-katex style='text-align:left;'  [latex]="shortAnswerQuestion.shortAnswerContent"></mdb-you-katex>
  <!-- 问答题题干图片 -->
  <mdb-you-img   [imgList]="shortAnswerQuestion.images"></mdb-you-img>

  <!-- 问答题小题 -->
  <div  style='text-align:left;' *ngFor="let subQuestionSection of shortAnswerQuestion.subQuestionList; let idxSubQuestion = index">
    <mdb-you-katex style='text-align:left;' [latex]="subQuestionSection.shortAnswerContent"></mdb-you-katex>
    <mdb-you-img  [imgList]="subQuestionSection.images"></mdb-you-img>
  </div>
</ion-slide>